.panel {
	width: 100%;
	height: 80px;
	background-color: $main-green;

	.panel-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		height: 80px;

		.title {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			width: auto;

			.add-button {
				width: 45px;
				height: 45px;
				font-size: 25px;
				font-weight: bold;
				color: $white;
				cursor: pointer;
				background-color: $main-color;
				border: 0;
				border-radius: 50%;
				box-shadow: 0 7px 26px -2px $shadow-color;

				.plus {
					display: inline-block;
					margin-top: 4px;
				}
			}

			.directory-title {
				margin: 0 0 0 20px;
				font-family: gothamMedium;
				font-size: 28px;

				.pink-style {
					margin: 0 10px 0 0;
				}
			}
		}

		.search {
			display: flex;
			flex-direction: row;
			margin-right: 40px;

			.fa-search {
				position: absolute;
				margin: 6px 0 0 15px;
				font-size: 17px;
				color: $white;
			}

			.search-users {
				width: 220px;
				height: 30px;
				padding: 1px 0 1px 35px;
				margin-right: 20px;
				font-size: 17px;
				color: $white;
				background-color: $main-color;
				border: 0;
				border-radius: 6px;
			}

			.sort-user-by {
				display: flex;
				flex-direction: row;
				background-color: $main-color;
				border-radius: 6px;

				.fa {
					padding: 7px;
					color: $white;
					cursor: pointer;

					&:first-child {
						border-right: 1px solid $sort-border;
					}

					&:nth-child(2) {
						color: $main-pink;
						border-right: 1px solid $sort-border;
					}
				}
			}
		}
	}
}

.filter {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 30px;
	background-color: $main-color;

	.all-users {
		font-family: gothamMedium;
	}

	.container {

		.sort-all {
			display: inline-block;

			.all-users {
				font-family: gothamMedium;
				font-size: 16px;
			}
		}

		.sort-by-letter {
			display: inline-block;

			.list-letters {
				padding: 0;
				margin: 0;
				list-style: none;
			}

			.letter {
				display: inline-block;
				margin-left: 24px;
				font-size: 16px;
			}

			.anchor-letter {
				font-family: gothamMedium;
				color: $main-green;
			}
		}
	}
}

.all-list {

	.by-individual-letter {
		width: 96%;
		height: auto;
		margin: 50px 0;
		background-color: $white;
		box-shadow: 0 4px 13px 0 $shadow-grey;

		.letter {
			position: absolute;
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: center;
			width: 50px;
			height: 50px;
			margin-top: -30px;
			overflow: visible;
			font-family: gothamMedium;
			font-size: 30px;
			color: $white;
			background-color: $main-green;
			border-radius: 50%;
		}

		.all-info {
			border-bottom: 2px solid $input-border;
		}

		.individual-item {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: flex-start;
			width: 100%;
			height: 190px;

			&:last-child {
				.all-info {
					border-bottom: 0;
				}
			}

			.photo-block {
				position: relative;
				width: 200px;
				height: 100%;

				.photo {
					.user-image {
						position: absolute;
						top: 32px;
						left: 40px;
						width: 130px;
						height: 130px;
						border-radius: 50%;
					}
				}

				.item-number {
					position: absolute;
					top: 124px;
					left: 136px;
					z-index: 10;
					display: inline-block;
					padding: 10px 15px;
					font-family: gothamMedium;
					color: $white;
					background-color: $main-color;
					border-radius: 50%;
				}
			}

			.all-info {
				display: flex;
				flex-direction: row;
				width: auto;
				height: 78%;
				padding: 0 0 20px;
				margin: 0 0 0 20px;

				.general-info {
					width: 250px;
					height: 125px;

					.description-title {
						display: flex;
						align-items: flex-start;
						flex-direction: column;
						justify-content: flex-start;
						height: 70px;

						.full-name {
							margin-top: 40px;
							font-family: gothamMedium;
							font-size: 22px;
							line-height: 0;
							color: $main-color;
						}

						.occupation {
							margin: 0;
							font-family: gothamLight;
							font-size: 23px;
							line-height: 5px;
							color: $h1-color;
						}
					}

					.fa-envelope {
						margin-top: 45px;
						font-size: 25px;
					}
				}

				.email {

					width: 230px;
					margin: 30px 0 26px;

					.email-title {
						margin: 0 103px 0 0;
						font-family: gothamMedium;
						font-size: 20px;
						color: $main-color;
					}

					.company-email {
						padding: 3px 0;

						.company-email-name {
							display: inline;
							padding: 5px 0 0;
							margin: 0;
							font-size: 20px;
							color: $black;
						}

						.fa-envelope {
							display: inline;
							padding: 3px 0 0;
							margin: 0 10px 0 0;
							font-size: 15px;
							color: $main-color;
						}
					}

					.personal-email {
						padding: 3px 0;

						.personal-email-name {
							display: inline;
							padding: 5px 0 0;
							margin: 0;
							font-size: 20px;
							color: $black;
						}

						.fa-envelope {
							display: inline;
							padding: 3px 0 0;
							margin: 0 10px 0 0;
							font-size: 15px;
							color: $main-color;
						}
					}
				}

				.phone {
					width: 160px;
					margin: 30px 0 26px;

					.phone-title {
						margin: 0 13px 0 0;
						font-family: gothamMedium;
						font-size: 20px;
						color: $main-color;
					}

					.personal-phone {
						padding: 3px 0;

						.personal-phone-value {
							display: inline;
							padding: 5px 0 0;
							margin: 0;
							font-size: 20px;
							color: $black;
						}

						.fa-mobile {
							display: inline;
							margin: 0 16px 0 4px;
							font-size: 18px;
							color: $main-color;
						}
					}

					.company-phone {
						padding: 3px 0;

						.company-phone-value {
							display: inline;
							padding: 5px 0 0;
							margin: 0;
							font-size: 20px;
							color: $black;
						}

						.fa-home {
							display: inline;
							margin: 0 10px 0 0;
							font-size: 18px;
							color: $main-color;
						}
					}
				}
			}
		}
	}
}
