.ng-toast__list {
	position: absolute;
	top: 0;
	z-index: 20;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	button {
		float: right;
		margin: 18px 8px 0 0;
		color: $white;
		background: transparent;
		border: 1px solid transparent;

		&:hover {
			cursor: pointer;
		}
	}


	.ng-toast__message {
		.alert {
			width: 100%;
			height: 60px;

			span {
				display: block;
				padding: 10px 0 0;
				font-family: gothamMedium;
				color: $white;
				text-align: center;

				.icon {
					padding-right: 5px;
					font-size: 18px;
				}
			}
		}
	}

	.alert-error {
		background-color: $error-color;
	}

	.alert-success {
		background-color: $main-green;
	}

	.alert-info {
		background-color: $info-color;
	}
}
