<div class="auth registration">
	<div class="logo-name">
		<span class="titanium">Titanium</span>
		<span class="software">Software</span>
	</div>
	<div class="login">
		<div class="list">
			<ul>
				<li>Make sure your password is secure:</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': registration.isEightSymbolsLongOrMore}" aria-hidden="true"></i>
					<span>8 or more characters</span>
				</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': registration.hasDigits}" aria-hidden="true"></i>
					<span>At least 1 number</span>
				</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': registration.hasUpperCaseLetters}" aria-hidden="true"></i>
					<span>Uppercase</span>
				</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': registration.hasLowerCaseLetters}" aria-hidden="true"></i>
					<span>Lowercase</span>
				</li>
			</ul>
		</div>
		<form novalidate name="registration.registrationForm" ng-submit="registration.checkPassword()">
			<div class="password">
				<i class="fa fa-check-circle-o" ng-class="{'password-correct': registration.passwordIsSecure}" aria-hidden="true"></i>
				<input type="password"
					  placeholder="Password"
					  friendly-name="Password"
					  name="password"
					  validation="required|min_len:8"
					  ng-model="registration.data.password1"
					  validation-callback="registration.checkPasswordSecurity(registration.data.password1)"
					  debounce="1"
					  class="input">
			</div>
			<div class="password">
				<i class="fa fa-check-circle-o" ng-class="{'password-correct': registration.passwordsMatch}" aria-hidden="true"></i>
				<input type="password"
					  placeholder="Re-Password"
					  friendly-name="Re-Password"
					  name="password"
					  validation="required|min_len:8"
					  ng-model="registration.data.password2"
					  ng-change="registration.checkIfMatch()"
					  class="input">
			</div>
			<div class="name">
				<i class="fa fa-globe" aria-hidden="true"></i>
				<input type="text" class="input" placeholder="First name" ng-model="registration.data.firstName">
			</div>
			<div class="name">
				<i class="fa fa-globe" aria-hidden="true"></i>
				<input type="text" class="input" placeholder="Last name" ng-model="registration.data.lastName">
			</div>
			<div class="login-button">
				<input type="submit" value="Registration">
			</div>
			<div class="login-forgot-password">
				<a ui-sref="login">Back to login</a>
			</div>
		</form>
	</div>
</div>
