<div class="auth">
	<div class="logo-name">
		<span class="titanium">Titanium</span>
		<span class="software">Software</span>
	</div>
	<div class="login">
		<form novalidate name="login.loginForm" ng-submit="login.auth()">
			<div class="email">
				<input type="email"
					  name="email"
					  friendly-name="E-mail"
					  placeholder="E-mail"
					  validation="required|email"
					  ng-model="login.data.email"
					  class="input">
			</div>
			<div class="password">
				<input type="password"
					  name="password"
					  friendly-name="Password"
					  placeholder="Password"
					  validation="required"
					  ng-model="login.data.password"
					  class="input">
			</div>
			<div class="login-button">
				<input type="submit" value="Log In">
			</div>
			<div class="login-forgot-password">
				<a ui-sref="forgotPassword">Forgot Password?</a>
			</div>
		</form>
	</div>
</div>
