$black: #000;
$white: #fff;
$green: #0f0;
$red: #f00;

$main-green: #89c340;
$main-pink: #ed1e79;
$main-grey: #666;
$main-background: #f5f5f5;
$h1-color: #4d4d4d;
$border-color: #f2f2f2;
$input-border: #e6e6e6;
$sort-border: #a385d5;

$shadow-grey: rgba(197,196,196,1);
$main-color: #612db3;
$button-color: #8dc341;
$navbar-color: #431ea3;
$error-color: #f34335;
$success-color: #dff0d8;
$info-color: #31708f;
$shadow-color: rgba(0, 0, 0, .75);
