body {
	min-width: 1000px;
	padding: 0;
	margin: 0;
	background-color: $main-background;

	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: gothamLight;
		line-height: normal;
		outline: none;
	}

}

a,
p {
	font-family: gothamLight;
	color: $white;
	text-decoration: none;
}

.container {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	// border: 1px solid $black;
}

.pink-style {
	color: $main-pink;
}
