@font-face {
	font-family: 'gothamLight';
	src: url('./../fonts/GothamRoundedLight.ttf');
}

@font-face {
	font-family: 'gothamMedium';
	src: url('./../fonts/GothamRoundedMedium.ttf');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('./../fonts/fontawesome-webfont.ttf');
}
