.auth {
	width: 500px;
	height: 400px;
	margin: 200px auto 0;
	font-family: gothamLight, sans-serif;
	font-weight: 600;
	background-color: $main-color;
	border-radius: 20px;
	box-shadow: 6px 9px 24px -2px $shadow-color;

	.fa-green {
		color: $main-green;
	}

	.logo-name {
		height: 100px;
		padding: 20px 0 0 85px;
		color: $white;
		background: url('../imgs/logo.png') no-repeat 30px 33%;
		background-size: 50px;

		.titanium {
			display: block;
			font-size: 40px;
		}

		.software {
			display: block;
			padding: 5px 0 0 5px;
			font-size: 18px;
			line-height: 0;
		}
	}

	.login {
		width: 90%;
		margin: 0 auto;

		.email {
			position: relative;

			&::before {
				position: absolute;
				top: 14px;
				left: 20px;
				z-index: 9;
				width: 30px;
				height: 40px;
				background: url('../imgs/envelope.png') no-repeat 0 5px;
				background-size: 28px;
				content: '';
			}
		}

		.password {
			position: relative;

			&::before {
				position: absolute;
				top: 14px;
				left: 20px;
				z-index: 9;
				width: 30px;
				height: 40px;
				background: url('../imgs/key.png') no-repeat 0 5px;
				background-size: 28px;
				content: '';
			}
		}

		.input {
			width: 86%;
			height: 60px;
			margin-bottom: 30px;
			border: 4px solid $white;
			border-radius: 8px;

		}

		.input:focus {
			border: 4px solid $main-green;
			outline: none;
		}

		input[placeholder] {
			padding-left: 62px;
			font-size: 20px;
			font-weight: 600;
			color: $black;
		}

		.login-button {
			display: inline-block;

			input {
				width: 130px;
				height: 60px;
				font-size: 20px;
				color: $white;
				cursor: pointer;
				background-color: $button-color;
				border: 0;
				border-radius: 8px;
			}
		}

		.login-forgot-password {
			display: inline-block;
			padding: 10px 0 0 45px;

			a {
				font-size: 18px;
				letter-spacing: 1px;
				color: $main-green;
				text-decoration: none;
			}
		}

		.messege {
			font-size: 10px;
			color: $red;
		}

	}
}

.error-wrap {
	position: relative;

	.error {
		position: absolute;
		top: 0;
		width: 100%;
		height: 50px;
		font-size: 20px;
		color: $white;
		text-align: center;
		background-color: $error-color;

		a {
			float: right;
			margin-right: 20px;
			cursor: pointer;
		}

		div {
			position: absolute;
			top: 10px;
			width: 100%;
		}
	}
}
