<div class="auth recovery-password">
	<div class="logo-name">
		<span class="titanium">Titanium</span>
		<span class="software">Software</span>
	</div>
	<div class="login">
		<div class="list">
			<ul>
				<li>Make sure your password is secure:</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': recovery.isEightSymbolsLongOrMore}" aria-hidden="true"></i>
					<span>8 or more characters</span>
				</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': recovery.hasDigits}" aria-hidden="true"></i>
					<span>At least 1 number</span>
				</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': recovery.hasUpperCaseLetters}" aria-hidden="true"></i>
					<span>Uppercase</span>
				</li>
				<li>
					<i class="fa fa-square-o" ng-class="{'fa-check-square fa-green': recovery.hasLowerCaseLetters}" aria-hidden="true"></i>
					<span>Lowercase</span>
				</li>
			</ul>
		</div>
		<form novalidate name="recovery.recoveryPasswordForm" ng-submit="recovery.checkPassword()">
			<div class="password">
				<i class="fa fa-check-circle-o" ng-class="{'password-correct': recovery.passwordIsSecure}" aria-hidden="true"></i>
				<input type="password"
					  placeholder="Password"
					  friendly-name="Password"
					  name="password"
					  validation="required|min_len:8"
					  ng-model="recovery.data.password1"
					  validation-callback="recovery.checkPasswordSecurity(recovery.data.password1)"
					  debounce="1"
					  class="input">
			</div>
			<div class="password">
				<i class="fa fa-check-circle-o" ng-class="{'password-correct': recovery.passwordsMatch}" aria-hidden="true"></i>
				<input type="password"
					  placeholder="Re-Password"
					  friendly-name="Re-Password"
					  name="password"
					  validation="required|min_len:8"
					  ng-model="recovery.data.password2"
					  ng-change="recovery.checkIfMatch()"
					  class="input">
			</div>
			<div class="login-button">
				<input type="submit" value="Reset password">
			</div>
			<div class="login-forgot-password">
				<a ui-sref="login">Back to login</a>
			</div>
		</form>
	</div>
</div>
