<div class="my-info">
	<div class="my-info-header">
		<div class="container">
			<h1> {{ me.allDataUser.first_name + ' ' + me.allDataUser.last_name}}</h1>
			<div class="info-header-navs">
				<ul class="user-pagination">
					<li class="user-icon user-pagination-element">
						<i class="fa fa-user" aria-hidden="true"></i>
					</li>
					<li class="curent-user-number">
						<span>2</span>
					</li>
					<li class="user-delimiter">
						<span>of</span>
					</li>
					<li class="number-of-users">
						<span>101</span>
					</li>
					<li class="prev-user">
						<a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev </a>
					</li>
					<li class="pagination-delimiter">
						<span>|</span>
					</li>
					<li class="next-user">
						<a href="" ng-click="me.nextUser()">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
					</li>
					<li class="preferences">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="titles">
		<div class="container">
			<ul>
				<li><a ui-sref="main.me.personal">Personal</a></li>
				<li><a ui-sref="main.me.job">Job</a></li>
				<li><a ui-sref="main.me.timeof">Time of</a></li>
				<li><a ui-sref="main.me.emergency">Emergency</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="personal-inform">
			<div class="img-container">
				<img src="./../public/imgs/default.gif" class="img">
			</div>
			<span><i class="fa fa-envelope" aria-hidden="true"></i> <p>{{ me.allDataUser.company_email}}</p></span>
			<br>
			<span><i class="fa fa-mobile" aria-hidden="true"></i> <p>{{ me.allDataUser.company_phone}}</p> </span>
			<br>
		</div>
	</div>
	<div ui-view ></div>
