<div class="content">
	<div class="container">

		<div class="personal-data">
			<div class="data-header">
				<h1>Personal</h1>
				<p>Reorder fields</p>
			</div>
			<hr>

			<h3>Basic information</h3>

			<div class="basic-inform">
				<div class="left-side">
					<span class="first-section">
						<div>
							<h1>Employee</h1>
							<input type="text" placeholder="Employees ID" class="Employee" ng-model="me.allDataUser.employee_id">
						</div>

						<div>
							<h1>Status</h1>
							<select id="status" ng-model="me.allDataUser.status">
								<option value="active">Active</option>
								<option value="inactive">Inactive</option>
							</select>
						</div>
					</span>

					<span class="second-section">
						<h1 title="save">Name</h1>

						<div>
							<input type="text" placeholder="Last name" ng-model="me.allDataUser.last_name" class="name">
							<input type="text" placeholder="First name" ng-model="me.allDataUser.first_name" class="name">
							<input type="text" placeholder="Middle name" ng-model="me.allDataUser.middle_name">
						</div>
					</span>

					<span class="third-section">
						<h1>Nickname</h1>
						<input type="text" placeholder="Nickname" ng-model="me.allDataUser.nickname">
					</span>

					<span>
						<h1>Birth date</h1>
						<div>
							<input type="text"
								  class="date-input"
								  placeholder="00.00.0000"
								  ng-model="me.allDataUser.birthday"
								  ng-focus="me.notify = 'Date Format: DD.MM.YYYY'"
								  ng-blur="me.notify = ''">
							{{me.notify}}
						</div>
					</span>
					</div>
				<div class="right-side">
					<span class="first-sec">
						<h1>IDNP</h1>
						<input type="text" placeholder="IDNP" name="name" ng-model="me.allDataUser.idnp" class="idnp">
					</span>

					<span class="second-sec">
						<h1>Gender</h1>
						<select class="gender-select" ng-model="me.allDataUser.gender">
							<option value="male">Male</option>
							<option value="Female">Female</option>
						</select>
					</span>
					<span class="third-sec">
						<h1>Marital status</h1>
						<select ng-model="me.allDataUser.marital_status">
							<option value="Single">Single</option>
							<option value="Married">Married</option>
							<option value="Domestic Partnership">Domestic Partnership</option>
							<option value="Common Law">Common Law</option>
						</select>
					</span>
				</div>
			</div>

			<div class="basic-inform-second">
				<div class="left-side-sec">
					<span>
						<h1>
							Address
						</h1>

						<input type="text" placeholder="Country" ng-model="me.allDataUser.country"></input> <br>

						<input type="text" placeholder="City" ng-model="me.allDataUser.city"></input> <br>

						<input type="text" placeholder="Street" value="Street" ng-model="me.allDataUser.street">
					</span>
					<span class="languages">
						<h1>Languages</h1>
					<div ng-repeat="lang in me.allDataUser.languages track by $index" class="lang-item">
						<input type="text" placeholder="Language" ng-model="me.allDataUser.languages[$index]">
						<div class="delete-btn" ng-click="me.deleteOneLanguage($index)">
							<i class="fa fa-times-circle-o" aria-hidden="true"></i>
						</div>
					</div>
					<!-- <div class="" ng-show="me.showInput">
						<input type="text" ng-model="me.newLanguage">
						<i class="fa fa-check-circle-o" aria-hidden="true" ng-click="me.confirmNewLang()"></i>
					</div> -->
						<button class="new-language-btn"  ng-if="me.allDataUser.languages.length < 5" ng-click="me.addNewLanguage()"> + </button>
					</span>
				</div>
				<div class="right-side-sec">
					<span>
						<h1>Contacts</h1>

						<span>
							<i class="fa fa-desc  fa-mobile" title="Company phone" aria-hidden="true"></i>
							<input type="text" placeholder="Company phone" title="Company phone" class="contacts" ng-model="me.allDataUser.company_phone">
						</span>
						<span>
							<i class="fa fa-desc fa-personal fa-home" title="Personal phone" aria-hidden="true"></i>
							<input title="Personal phone" placeholder="Personal phone" type="text" class="contacts" ng-model="me.allDataUser.personal_phone">
						</span>
						<span>
							<i class="fa fa-desc fa-personal fa-skype" title="Skype" aria-hidden="true"></i>
							<input type="text" title="Skype" placeholder="Skype" class="contacts" ng-model="me.allDataUser.skype_id">
						</span>
					</span>

					<span>

						<span>
							<i class="fa  fa-desc fa-envelope" aria-hidden="true" title="Company e-mail"></i>
							<input type="text" title="Company e-mail" placeholder="Company E-mail" ng-model="me.allDataUser.company_email" class="contacts">
						</span>
						<span>
							<i class="fa fa-desc fa-personal fa-envelope" aria-hidden="true" title="Personal e-mail"></i>
							<input type="text" title="Personal e-mail" placeholder="Personal E-mail" ng-model="me.allDataUser.personal_email" class="contacts">
						</span>
					</span>
		</div>

	</div>

	<button class="save-data" ng-click="me.updateAllData()">Save</button>
</div>
