<div class="panel">
	<div class="container">
		<div class="panel-header">

			<div class="title">

				<button class="add-button" ui-sref="main.newUser"><span class="plus">+</span></button>
				<p class="directory-title">Directory <span class="pink-style">{{directory.users.length}}</span></p>

			</div>
			<div class="search">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" class="search-users" placeholder="Search Employees...">
				<div class="sort-user-by">
					<i ui-sref="main.employees" class="fa fa-list-ul" aria-hidden="true"></i>
					<i ui-sref="main.directory" class="fa fa-book choose-style pink-style" aria-hidden="true"></i>
					<i class="fa fa-sitemap" aria-hidden="true"></i>
				</div>
			</div>


		</div>

	</div>
</div>
<div class="filter">
	<div class="container">
		<div class="sort-all ">
			<a href="" class="all-users">All</a>
		</div>
		<div class="sort-by-letter">
			<ul class="list-letters">
				<li class="letter" ng-repeat="letter in directory.alphabet">
					<a class="anchor-letter" href="" ng-click="directory.goToLetter(letter)">{{ letter }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="all-list">
	<div class="container">

		<div class="by-individual-letter" ng-repeat="(key, value) in directory.groupedByLetter">
			<div class="letter"><a id="{{key}}"></a>{{ key }}</div>
			<div class="individual-item" ng-repeat="user in directory.groupedByLetter[key]">
				<div class="photo-block">
					<span class="item-number">{{ user.employee_id }}</span>
					<div class="photo">
						<img class="user-image" src="./../public/imgs/default.gif" alt="">
					</div>
				</div>

				<div class="all-info">

					<div class="general-info">
						<div class="description-title">
							<p class="full-name">{{ user.first_name + ' ' + user.last_name }}</p>
							<p class="occupation">{{ user.departament + ' ' + user.role }}</p>
						</div>

						<i class="fa fa-envelope pink-style" aria-hidden="true"></i>
					</div>
					<div class="email">

						<p class="email-title">E-mail</p>

						<div class="company-email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<p class="company-email-name">{{ user.company_email }}</p>
						</div>

						<div class="personal-email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<p class="personal-email-name">{{ user.personal_email }}</p>
						</div>

					</div>
					<div class="phone">

						<p class="phone-title">Phone</p>
						<div class="personal-phone">
							<i class="fa fa-mobile" aria-hidden="true"></i>
							<p class="personal-phone-value">{{ user.personal_phone }}</p>
						</div>
						<div class="company-phone">
							<i class="fa fa-home" aria-hidden="true"></i>
							<p class="company-phone-value">{{ user.company_phone }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
