.recovery-password {
	height: 590px;

	.login {
		.list {
			ul {
				padding: 0;

				li {
					padding-top: 8px;
					font-family: gothamMedium;
					font-size: 18px;
					color: $white;
					list-style: none;
					position: relative;

					&:first-child {
						color: $main-green;
					}

					&:last-of-type {
						padding-bottom: 7px;
					}

					span {
						display: inline-block;
						position: absolute;
						left: 30px;
					}
				}
			}
		}

		.password {
			position: relative;

			i {
				display: none;
			}

			.password-correct {
				position: absolute;
				top: 28px;
				left: 420px;
				display: block;
				font-size: 18px;
				color: $main-green;
			}
		}

		.login-button {
			input {
				width: 200px;
			}
		}
	}
}
