.panel-employees {
	width: 100%;
	height: 80px;
	background-color: $main-green;

	.panel-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		height: 80px;

		.title {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			width: auto;

			.add-button {
				width: 45px;
				height: 45px;
				font-size: 25px;
				font-weight: bold;
				color: $white;
				cursor: pointer;
				background-color: $main-color;
				border: 0;
				border-radius: 50%;
				box-shadow: 0 7px 26px -2px $shadow-color;

				.plus {
					display: inline-block;
					margin-top: 4px;
				}
			}

			.directory-title {
				margin: 0 0 0 20px;
				font-family: gothamMedium;
				font-size: 28px;

				.pink-style {
					margin: 0 10px 0 0;
				}
			}
		}

		.search {
			display: flex;
			flex-direction: row;
			margin-right: 40px;

			.fa-search {
				position: absolute;
				margin: 6px 0 0 15px;
				font-size: 17px;
				color: $white;
			}

			.search-users {
				width: 220px;
				height: 30px;
				padding: 1px 0 1px 35px;
				margin-right: 20px;
				font-size: 17px;
				color: $white;
				background-color: $main-color;
				border: 0;
				border-radius: 6px;
			}

			.sort-user-by {
				display: flex;
				flex-direction: row;
				background-color: $main-color;
				border-radius: 6px;

				.fa {
					padding: 7px;
					color: $white;
					cursor: pointer;

					&:first-child {
						border-right: 1px solid $sort-border;
					}

					&:nth-child(1) {
						color: $main-pink;
						border-right: 1px solid $sort-border;
					}
				}
			}
		}
	}
}

.container {
	.new-user {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 36.5%;
		height: 230px;
		padding: 15px;
		margin: 0 auto;
		margin-top: 25px;
		background-color: $white;
		box-shadow: -3px 7px 22px -1px $shadow-grey;

		.fa {
			position: absolute;
			top: 102px;
			left: 89px;
			z-index: 9;
			color: $main-green;
		}

		.email {
			top: 47px;
			left: 62px;
			padding: 5px 15px 5px 30px;
			margin-bottom: 30px;
			margin-left: 20px;
			background-color: $main-background;
			border: 3px solid $input-border;
		}

		.new-user-btn {
			padding: 8px;
			margin-right: 20px;
			margin-left: 20px;
			font-family: gothamMedium;
			font-size: 20px;
			color: $white;
			background-color: $main-green;
			border: 1px solid $main-green;
			border-radius: 10px;
			cursor: pointer;
		}

		.cancel-nu {
			padding: 7px;
			padding-top: 8.2px;
			font-family: gothamMedium;
			font-size: 18px;
			color: $main-green;
			background-color: $white;
			border: 3px solid  $main-green;
			border-radius: 8px;
			cursor: pointer;
		}

		.nu-title {
			font-family: gothamMedium;
			color: $main-green;
		}
	}
}
