<div class="panel-employees">
	<div class="container">
		<div class="panel-header">

			<div class="title">

				<button class="add-button"><span class="plus">+</span></button>
				<p class="directory-title">Employees <span class="pink-style">101</span></p>

			</div>
			<div class="search">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" class="search-users" placeholder="Search Employees...">
				<div class="sort-user-by">
					<i ui-sref="main.employees" class="fa fa-list-ul" aria-hidden="true"></i>
					<i ui-sref="main.directory" class="fa fa-book choose-style pink-style" aria-hidden="true"></i>
					<i class="fa fa-sitemap" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="new-user">
		<h1 class="nu-title">Add new user</h1>
		<span><i class="fa fa-envelope" aria-hidden="true"></i><input type="email" class="email" placeholder="E-mail" ng-model="newUser.body.email"></span>
		<div>
			<button class="new-user-btn" ng-click="newUser.addNewUser()">Add new user</button>
			<button class="cancel-nu" ui-sref="main.employees">Cancel</button>
		</div>
	</div>
</div>
