<div class="auth forgot-password">
	<div class="logo-name">
		<span class="titanium">Titanium</span>
		<span class="software">Software</span>
	</div>
	<div class="login">
		<form novalidate name="forgot.emailForm" ng-submit="forgot.reset()">
			<div class="email">
				<input type="email"
					  name="email"
					  friendly-name="E-mail"
					  placeholder="E-mail"
					  validation="required|email"
					  ng-model="forgot.data.email"
					  class="input">
			</div>
			<div class="login-button">
				<input type="submit" value="Reset Password">
			</div>
			<div class="login-forgot-password">
				<a ui-sref="login">Back to Login</a>
			</div>
		</form>
	</div>
</div>
