<header>
	<div class="container">
		<div class="logo" ui-sref="main.me.personal">
			<img src="./../public/imgs/logo.png" alt="logo-image" class="logo-image">
			<div class="logo-text">
				<p>Titanium</p>
				<p>Software
				</p>
			</div>
		</div>
		<div class="quick-acess">
			<ul class="quick-acess-list">
				<li class="list-item">
					<div class="counter"><span class="counter-number">1</span></div>
					<a href="" class="cart">
						<i class="fa fa-inbox icon" aria-hidden="true"></i>
					</a>
				</li>
				<li class="list-item">
					<a href="" class="gears">
						<i class="fa fa-cogs icon" aria-hidden="true"></i>
					</a>
				</li>
				<li class="list-item">
					<a href="" class="question">
						<i class="fa fa-question-circle icon" aria-hidden="true"></i>
					</a>
				</li>
				<li class="list-item">
					<a href="" class="user" ng-click="main.consoleCurrentUser()">
						<span class="user-initials">AL</span>
						<i class="fa fa-circle icon icon-green" aria-hidden="true"></i>
					</a>
				</li>
				<li class="list-item">
					<a ui-sref="login" class="logout">
						<i class="fa fa-sign-out icon" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
			<span>

			</span>



		</div>
	</div>
</header>
<div class="navbar">
	<div class="container">
		<div class="navbar-nav">
			<ul class="nav">
				<li><a ui-sref="main.dashboard">Dashboard</a></li>
				<li><a ui-sref="main.me.personal">My Info</a></li>
				<li><a ui-sref="main.employees">Employees</a></li>
				<li><a ui-sref="main.reports">Reports</a></li>
				<li><a ui-sref="main.config">Config</a></li>
			</ul>
			<div class="search-input">
				<input type="text" placeholder="Search...">
			</div>
			<!-- <a ui-sref="main.dashboard">Dashboard</a>
			<a ui-sref="main.me">My Info</a>
			<a ui-sref="main.employees">Employees</a>
			<a ui-sref="main.reports">Reports</a>
			<a ui-sref="main.config">Config</a>

			<input type="text" placeholder="Search..."> -->
		</div>
	</div>
</div>

<main>
	<div ui-view></div>
</main>
