<div class="resetPass">
	<div class="reset">
		<div class="title">Восстановление пароля</div>
		<span class="messege">{{reset.messages}}</span>
		<input placeholder="E-mail" class="email" type="email" ng-model="reset.data.email">
		<input class="button" type="button" value="Восстановить" ng-click="reset.reset()">
	</div>
</div>