header {
	width: 100%;
	height: 90px;
	background-color: $main-color;

	.logo {
		position: relative;
		display: inline-block;
		float: left;
		width: auto;
		margin-top: 12px;
		cursor: pointer;

		.logo-image {
			width: 40px;
			margin-top: 18px;
		}

		.logo-text {
			float: right;
			margin-left: 5px;

			p {
				font-size: 1.9em;
				line-height: 0;
				color: $white;
			}

			p:last-child {
				margin-top: -10px;
				margin-left: 5px;
				font-size: .8em;
			}
		}
	}

	.quick-acess {
		display: inline-block;
		float: right;

		width: 320px;
		height: 30px;
		margin: 40px -60px 0 0;

		.quick-acess-list {
			padding: 0;
			margin: 0;
			list-style: none;

			.list-item {
				display: inline-block;
				margin-left: 10px;

				.counter {
					position: absolute;
					width: 22px;
					height: 22px;
					padding: auto;
					margin-top: -9px;
					margin-left: 13px;
					font-family: gothamMedium;
					color: $white;
					text-align: center;
					cursor: pointer;
					background-color: $main-green;
					border-radius: 50%;

					.counter-number {
						display: block;
						margin: 4.5px auto auto;
						font-size: .9em;
						font-weight: 600;
					}

				}

				.user {
					position: relative;
					// display: inline-block;
					// // position: absolute;
					// // top: 42px;
					// // width: 28px;
					// height: 28px;
					// background-color: $main-green;
					// border-radius: 50%;
					//
					.user-initials {
						position: absolute;
						top: -4px;
						left: 5px;
						font-family: gothamMedium;
						font-size: 12px;
					}

					.icon-green {
						color: $main-green;
					}
				}

				.icon {
					font-size: 32px;
				}
			}
		}

		// a {
		// 	margin-right: 18px;
		//
		// 	i {
		// 		font-size: 32px;
		// 	}
		// }


	}
}

.navbar {
	width: 100%;
	height: 68px;
	background-color: $navbar-color;
	box-shadow: inset 0 3px 10px 0 $shadow-color;

	.navbar-nav {
		.nav {
			display: inline-block;
			height: 68px;
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				display: inline-block;
				width: 125px;
				height: 65px;
				// margin: 0px 0 0 50px;
				line-height: 72px;
				text-align: center;

				&:first-child {
					margin-left: 0;
				}

				&:hover {
					border-bottom: 4px solid $white;
				}

				a {
					display: inline-block;
					width: 100%;
					height: 100%;
					padding: 0;
					font-size: 18px;
					color: $white;
					text-align: center;

				}
			}
		}

		.search-input {
			display: inline-block;
			margin-left: 55px;

			input {
				width: 220px;
				height: 30px;
				// margin: 0 0 0 25px;
				font-size: 1.1em;
				background-color: $main-color;
				background-image: url('./../imgs/searchLogo.png');
				background-position: 15px 7px;
				background-repeat: no-repeat;
				background-size: 15px;
				border: 0;
				border-radius: 4px;

				&[placeholder] {
					padding-left: 31px;
					color: $white;
				}
			}
		}
	}
}

.my-info {
	width: 100%;
	height: auto;

	.my-info-header {
		width: 100%;
		height: 84px;
		background-color: $main-green;
		box-shadow: inset 0 4px 7px 0 $shadow-color;

		h1 {
			padding: 0;
			padding-top: 27px;
			margin: 0;
			margin-left: 220px;
			font-family: gothamLight;
			font-size: 1.8em;
			font-weight: bold;
			color: $main-background;
		}

		.info-header-navs {
			display: block;
			float: right;

			margin-top: -47px;
			margin-right: 36px;

			li {
				display: inline-block;
			}

			.fa {
				font-size: 1.3em;
				color: $white;

				&:first-child {
					padding: 0 10px;
				}
			}

			.fa-chevron-left {
				margin-right: 5px;
				margin-left: 25px;
				cursor: pointer;
			}

			.fa-chevron-right {
				margin-right: 25px;
				margin-left: 5px;
				cursor: pointer;
			}

			.fa-cog {
				margin-left: 25px;
				font-size: 1.5em;
				color: $main-pink;
			}

			// .delimiter {
			// 	background: $red;
			// 	padding: 0 10px;
			// }

			span {
				font-family: gothamLight;
				font-size: 1.1em;
				color: $white;
			}

			.pagination-delimiter {
				padding: 0 10px;
			}

			a {
				font-size: 1.1em;
				color: $white;
			}
		}
	}

	.titles {
		width: 100%;
		height: 30px;

		ul {
			padding-top: 10px;
			padding-left: 225px;
			margin: 0;

			li {
				display: inline-block;
				margin-right: 35px;
				font-family: gothamLight;
				font-size: 1.4em;
				list-style: none;

				a {
					color: $black;
				}
			}
		}
	}

	.personal-inform {
		float: left;
		width: 200px;
		height: 220px;
		margin-top: -78px;

		.img-container {
			width: 180px;
			height: 180px;
			margin-bottom: 20px;
			background-color: $main-color;
			background-size: 100%;
			border: 10px solid $main-color;
			border-radius: 50%;
			box-shadow: 6px 4px 16px -4px $shadow-color;
			.img {
				width: 180px;
				height: 180px;
				border-radius: 50%
			}
		}

		i {
			font-size: 1.5em;
			color: $main-color;
		}

		.fa-mobile {
			padding-right: 11px;
			font-size: 1.8em;
		}

		p {
			display: inline-block;
			margin-left: 5px;
			font-family: gothamMedium;
			font-size: 1.3em;
			color: $main-grey;
		}

		span {
			line-height: 0;

			p:nth-child(2) {
				padding-right: -10px;
			}
		}
	}

	.content {
		width: 100%;
		height: 500px;

		.personal-data {
			float: right;
			width: 727px;
			height: 500px;
			padding: 0;
			margin-top: 30px;
			margin-right: 47px;
			line-height: 0;

			.data-header {

				h1 {
					float: left;
					margin-top: 20px;
					font-family: gothamLight;
					font-size: 1.7em;
					font-weight: bold;
					color: $h1-color;
				}

				p {
					float: right;
					margin-top: 23px;
					color: $main-grey;
				}
			}

			hr {
				margin-top: 63px;
				clear: both;
			}
		}

		h3 {
			padding: 10px 0;
			font-family: gothamMedium;
			color: $main-color;
		}

		.basic-inform {
			display: inline-block;
			width: 727px;
			height: 400px;
			overflow: hidden;
			background-color: $white;
			box-shadow: -3px 7px 22px -1px $shadow-grey;

			span {
				padding-bottom: 20px;

				select {
					width: 200px;
					padding: 4px;
					margin-bottom: 20px;
					font-family: gothamLight;
					cursor: pointer;
					background-color: $main-background;
					background-image: url('./../imgs/select1.png');
					background-position: 166px center;
					background-repeat: no-repeat;
					background-size: 15px;
					border: 2px solid $input-border;
					-webkit-appearance: none;

					&:focus {
						outline: none;
					}
				}

				input {
					width: 100px;
					padding: 5px;
					margin-bottom: 20px;
					font-family: gothamLight;
					background-color: $main-background;
					border: 2px solid $input-border;

					&:focus {
						outline: none;
					}
				}

				.date-input {
					width: 180px;
					height: 30px;
					padding: 0;
					font-family: gothamLight;
					font-size: 1em;
				}

				div {
					display: inline-block;
				}

				h1 {
					padding-bottom: 10px;
					font-family: gothamMedium;
					font-size: 1.1em;
					color: $main-green;
				}
			}

			.left-side {
				display: inline-block;
				width: 60%;
				height: 100%;
				padding: 25px;
				border-right: 2px solid $border-color;

				.first-section {

					div:first-child {
						padding-right: 20px;
					}

				}

				.name {
					margin-right: 20px;
				}
			}

			.right-side {
				display: inline-block;
				float: right;
				width: 27%;
				height: 100%;
				padding: 20px;

				.first-sec {
					.idnp {
						width: 180px;
					}
				}

				.second-sec {

					.gender-select {
						margin-bottom: 20px;
					}
				}

				.third-sec {

					.marital-select {
						display: block;
						width: 200px;
						padding: 4px;
						background-color: $main-background;
						border: 2px solid $input-border;
						-webkit-appearance: none;
						appearance: none;
					}

					img {
						position: absolute;
						z-index: 101;
						width: 30px;
						margin-top: 2px;
						margin-left: 166px;
					}
				}
			}
		}

		.basic-inform-second {
			display: inline-block;
			width: 727px;
			max-height: 500px;
			margin-top: 40px;
			overflow: hidden;
			background-color: $white;
			box-shadow: -3px 7px 22px -1px $shadow-grey;

			span {
				padding-bottom: 20px;

				select {
					width: 250px;
					padding: 4px;
					margin-bottom: 20px;
					font-family: gothamLight;
					cursor: pointer;
					background-color: $main-background;
					background-image: url('./../imgs/select1.png');
					background-position: 216px center;
					background-repeat: no-repeat;
					background-size: 15px;
					border: 2px solid $input-border;
					-webkit-appearance: none;

					&:focus {
						outline: none;
					}
				}

				input {
					width: 238px;
					padding: 4px;
					margin-bottom: 20px;
					font-family: gothamLight;
					background-color: $main-background;
					border: 2px solid $input-border;
					border-bottom: 3px solid $input-border;

					&:focus {
						outline: none;
					}
				}

				.date-input {
					width: 180px;
					height: 30px;
					padding: 0;
					font-family: gothamLight;
					font-size: 1em;
				}

				div {
					display: inline-block;
				}

				h1 {
					padding-bottom: 10px;
					font-family: gothamMedium;
					font-size: 1.1em;
					color: $main-green;
				}

				.fa-desc {
					width: 20px;
					height: 20px;
					padding: 4px;
					margin-bottom: 5px;
					color: $main-color;
					text-align: center;
					background-color: $main-background;
					border: 3px solid $input-border;
					// font-size: 1.3em;
				}
			}

			.left-side-sec {
				float: left;
				width: 45%;
				height: 100%;
				padding: 20px;
				border-right: 2px solid $input-border;

				.languages {
					display: flex;
					flex-direction: column;

					.lang-item {
						display: flex;
						height: 50px;


						.delete-btn {
							color: $main-green;
							font-size: 25px;
							margin-top: 3px;
							margin-left: 12px;
							cursor: pointer;
						}
					}

					.fa-check-circle-o {
						color: $main-green;
						font-size: 23px;
						margin-top: 1px;
						margin-left: 8px;
						cursor: pointer;
					}

						.new-language-btn {
							background-color: $white;
							font-family: gothamMedium;
							font-size: 26px;
							color: $main-green;
							border-radius: 4px;
							border: 1px solid $main-green;
							width: 30px;
							height: 30px;
							cursor: pointer;
						}
				}
			}

			.right-side-sec {
				float: right;
				width: 43%;
				height: 100%;
				padding: 20px;

				.contacts {
					padding: 5px 0 5px 5px;
				}

				span:last-child {
					margin-bottom: -30px;
				}
			}
		}
	}
}

.save-data {
	margin: 40px 0 40px 641px;
	background-color: $main-green;
	border: 1px solid $main-green;
	color: $white;
	font-family: gothamMedium;
	height: 60px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 20px;
	width: 85px;
}
