<div class="panel-employees">
	<div class="container">
		<div class="panel-header">

			<div class="title">

				<button class="add-button" ui-sref="main.newUser"><span class="plus">+</span></button>
				<p class="directory-title">Employees <span class="pink-style">{{employees.users.length}}</span></p>

			</div>
			<div class="search">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" class="search-users" placeholder="Search Employees...">
				<div class="sort-user-by">
					<i ui-sref="main.employees" class="fa fa-list-ul" aria-hidden="true"></i>
					<i ui-sref="main.directory" class="fa fa-book choose-style pink-style" aria-hidden="true"></i>
					<i class="fa fa-sitemap" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="column">
		<div class="col">Name,Surname</div>
		<div class="col">Dep</div>
		<div class="col">Grade</div>
		<div class="col">Role</div>
		<div class="col">Hire Date</div>
	</div>
	<div class="quick-user-info" ng-repeat="user in employees.users">
		<div class="photo">
			<img src="./../public/imgs/default.gif" class="img">
		</div>
		<div class="all-info">
			<div class="name"><span class="pink-style id-user">{{user.employee_id}}</span>{{user.first_name}} {{user.last_name}}</div>
			<div class="dep">{{user.departament}}</div>
			<div class="grade">{{user.grade}}</div>
			<div class="role">{{user.role}}</div>
			<div class="hire-date">{{user.hire_date}}</div>
		</div>
	</div>
</div>
