.panel-employees {
	width: 100%;
	height: 80px;
	background-color: $main-green;

	.panel-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		height: 80px;

		.title {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			width: auto;

			.add-button {
				width: 45px;
				height: 45px;
				font-size: 25px;
				font-weight: bold;
				color: $white;
				cursor: pointer;
				background-color: $main-color;
				border: 0;
				border-radius: 50%;
				box-shadow: 0 7px 26px -2px $shadow-color;

				.plus {
					display: inline-block;
					margin-top: 4px;
				}
			}

			.directory-title {
				margin: 0 0 0 20px;
				font-family: gothamMedium;
				font-size: 28px;

				.pink-style {
					margin: 0 10px 0 0;
				}
			}
		}

		.search {
			display: flex;
			flex-direction: row;
			margin-right: 40px;

			.fa-search {
				position: absolute;
				margin: 6px 0 0 15px;
				font-size: 17px;
				color: $white;
			}

			.search-users {
				width: 220px;
				height: 30px;
				padding: 1px 0 1px 35px;
				margin-right: 20px;
				font-size: 17px;
				color: $white;
				background-color: $main-color;
				border: 0;
				border-radius: 6px;
			}

			.sort-user-by {
				display: flex;
				flex-direction: row;
				background-color: $main-color;
				border-radius: 6px;

				.fa {
					padding: 7px;
					color: $white;
					cursor: pointer;

					&:first-child {
						border-right: 1px solid $sort-border;
					}

					&:nth-child(1) {
						color: $main-pink;
						border-right: 1px solid $sort-border;
					}
				}
			}
		}
	}
}

.container {
	.column {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;
		padding-top: 40px;
		padding-right: 40px;
		padding-left: 99px;

		.col {
			font-family: gothamMedium;
			font-size: 17px;
			color: $main-green;
		}
	}

	.quick-user-info {
		width: 96.5%;
		height: 130px;
		margin-top: 25px;
		background-color: $white;
		box-shadow: -3px 7px 22px -1px $shadow-grey;

		.photo {
			position: relative;
			top: 16px;
			left: 27px;
			float: left;
			display: inline-block;

			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				box-shadow: 6px 6px 20px -5px $shadow-grey;
			}
		}

		.all-info {
			height: 100%;
			font-family: gothamMedium;
			font-size: 15.5px;

			.name,
			.dep,
			.grade,
			.role,
			.hire-date {
				height: 130px;
				vertical-align: center;
				line-height: 130px;
				display: inline-block;
			}

			.name {
				margin-left: 51px;
				width: 231px;
				color: $main-color;
				height: 130px;
				vertical-align: center;
				line-height: 130px;
				display: inline-block;

				.id-user {
					padding-right: 26px;
				}
			}

			.dep {
				width: 137px;
				word-wrap: break-word;
			}

			.grade {
				width: 152px;
			}

			.role {
				width: 139px;
			}

			.hire-date {
				width: 136px;
			}
		}
	}
}
